body {
    background: brown;
    max-width: 960px;
    margin: 0 auto;
}
div {
    border: 1px solid black;
    padding: 5px 15px;
}
h4 {
    text-align: center;
}
.header {
    border-radius: 10px 10px 0 0;
    margin-top: 20px;
    background: greenyellow;
    min-height: 200px;
    line-height: 200px;
    text-align: center;
    margin-bottom: 10px;
    box-shadow: 0 0 10px cornsilk;
}
.sidebar {
    background: rgb(255, 204, 0);
    float: left;
    margin-right: 10px;
    max-width: 200px;
    min-width: 150px;
}
.sidebar2 {
    background: rgb(255, 204, 0);
    float: right;
    margin-left: 10px;
    max-width: 200px;
}
.sidebar1 {
    background: rgb(255, 204, 0);
    float: right;
    margin-left: 10px;
    max-width: 200px;
}

.conteiner {
    background: rgb(247, 247, 247);
    margin-bottom: 10px;
    box-shadow:0 0 10px cornsilk;
    text-align: justify;
}
.footer {
    font-weight: bold;
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    box-shadow:0 0 10px cornsilk;
    
}
textarea {
    resize: none;
}
form fieldset {
width: 700px;
}
form legend, form label {
font-size: 20px;
font-weight: bold;
}
form button {
height: 50px;
font-size: 20px;
background: rgb(0, 204, 255);
border-radius: 15px;
padding: 10px 15px;
line-height: 25px;
border: none;
}
form button:hover {
    background: rgb(5, 5, 5);
    color: #fff;
}
form input, form textarea {
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 16px;
    border-radius: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px solid rgb(0, 204, 255);
    padding-left: 10px;
    box-shadow: 1px 1px 8px rgb(0, 204, 255);
}
